

@import '../variables';
@import '../mixins';

.page {
    min-height: 90vh;
    min-width: 90vw;
}

.text {
    color : $white;
}

.errorMessage {
    position : absolute;
    left : $spacing-lg;
    top : 100px;
}

.errorBox {
    display : flex;
    flex-direction: column;
    height : 400px;
    width: $input-width;
    gap : 5%;
    position : relative;
    left : 60px;
    top : 70px;    
}

.form {
    height : 200px;
    width : 400px;
    position : relative;
    left : 11px;
    top : 70px;   
}

.forgotLink {
    color : $lightblue;
}
// Responsive styles
@include mobile {
    .errorBox {
        height: 400px;
        width: $input-width;
        left: 800px;
        top: 400px;
    }

    .form {
        height: 400px;
        width: 600px;
        left: 800px;
        top: 400px;
    }
}