

@import '../variables';
@import '../mixins';

.text {
    color : $white
}

.deleteButton {
    border : none;
    color : $white;
    background-color: $danger;
    width : 100px;
    height : 2$spacing-xs;
    border-radius: $spacing-xs;
    font-family: $font-family;
    font-weight: 500;
}

.card {
    border : 2px solid $white;
    border-radius: $spacing-xs;
    display : flex;
    flex-direction: column;
    gap : 3px;
    padding : $spacing-sm
}