.page {
    min-height: 90vh;
    min-width: 90vw;
}

.text {
    color : white;
}

.errorMessage {
    position : absolute;
    left : 20px;
    top : 100px;
}

.errorBox {
    display : flex;
    flex-direction: column;
    height : 400px;
    width : 300px;
    gap : 5%;
    position : relative;
    left : 60px;
    top : 70px;    
}

.form {
    height : 200px;
    width : 400px;
    position : relative;
    left : 11px;
    top : 70px;   
}

.forgotLink {
    color : lightblue;
}
@media (min-width : 575px) {
    .errorBox {
        height : 400px;
        width : 300px;
        left : 800px;
        top : 400px;
    }

    .form {
        height : 400px;
        width : 600px;
        left : 800px;
        top : 400px;
    }
}