.input {
    background-color: rgb(41, 47, 54);
    border : 1px solid #ddd;
    border-radius: 6px;
    appearance: none;
    outline : none;
    width : 300px;
    height : 40px;
    margin-bottom: 20px;
    color : white;
    transition: color 1 ease;
}

.input:focus {
    border : 1px solid rgb(135, 206, 235);
}
.input:focus::placeholder {
    color : transparent;
}

.page {
    min-height: 90vh;
}

.header1 {
    color : white;
    position: relative;
}

.link {
    color : lightblue;
}

.forgotLink {
    margin-bottom: 10px;
    margin-top : -5px;
}

.button {
    border : none;
    border-radius: 10px;
    width : 300px;
    height : 30px;
    background-color: rgb(135, 206, 235);
}

.button:disabled {
    cursor : not-allowed;
}

.errorMessage {
    color : red;
    position : relative;
}

.alert {
    position : relative;
}

.label, .input, .button {
    color : white;
    position : relative;
    left : 15px;
    margin-bottom: 25px;
}

.loginLink { 
    color : lightblue;
    position : relative;
    left : 90px;
    top : 35px;
}


@media(min-width : 399px) {
    .header1 {    
        bottom : 30px;
        right : 30px;
    }
    .button {
        margin-bottom: 15px;
    }
    .forgotLink {
        margin-left: 165px;
        margin-bottom: 20px;
    }
    .errorMessage {
        left : 55px;
    }
    .loginLink {
        left : 90px;
        top : 35px;
    }

}

