.text {
    color : white
}

.deleteButton {
    border : none;
    color : white;
    background-color: #D94126;
    width : 100px;
    height : 25px;
    border-radius: 5px;
    font-family: "Karla", sans-serif;
    font-weight: 500;
}

.card {
    border : 2px solid white;
    border-radius: 5px;
    display : flex;
    flex-direction: column;
    gap : 3px;
    padding : 10px
}