.page {
    min-height: 90vh;
}

.spinner {
    height : 120px;
    width : 120px;
    border : 6px solid ;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation : spin 1.3s ease infinite;
}

@keyframes spin {
    to {transform : rotate(360deg)}
}

.container { 
    margin : 0 auto;
    position : relative;
    top : 300px;
}

.text {
    color : white;
    position: relative;
    top : 240px;
    left : 15px;
}

.homeLink {
    position: relative;
    top : 280px;
    left : 130px;
    color : lightblue
}

.forgotLink {
    color : lightblue;
}

@media (min-width : 576px) {
    .container {
        width : 20%;
        height : 400px;
    }

    .text {
        position: relative;
        top : 240px;
    }

    .homeLink {
        position: relative;
        top : 280px;
        left : 130px;
    }

    .spinner {
        position : relative;
        left : 130px;
        top : 100px;
    }

    .alert {
        position : absolute;
        left : 200px;
    }
}